[Desktop Entry]
Name=EduControl Cliente
Comment=Aplicación cliente de EduControl
Exec=/usr/bin/educontrol-client
Icon=educontrol
Terminal=false
Type=Application
Categories=Utility;Education;